
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$min-height: 300px;

$header-color: #CCDDFF;
$footer-color: #d1e9e9;
$header-height: 70px;
$footer-height: 60px;

$border-color: #e0e0e0;

$avatar-height: 250px;
$header-icon-color: #8C8CFF;
$header-icon-hover-color: #7878FF;
$article-font-size: 18px;
$article-line-height: 9px;

