%container-wrapper {
	height: 100vh;
	min-height: $min-height;
}

%container {
  max-width: 10000px;
	margin-top: 75px;
	min-height: $min-height;
}

%box-frame {
	border-radius: 4px;
}

%box-shadow {
	box-shadow: 0 0 3px 3px rgba(20%,20%,40%,0.4);
}

%box-no-shadow {
	box-shadow: 0 0 0 0 rgba(0,0,0,00);
}

%page-title {
	text-align: center;
	margin-bottom: 15px;
  color: #4f4f4f;
}

%loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
