
// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato|Noto+Sans+TC");
//@import "../font/notosanstc.css";

// FontAwesome
@import "./fontawesome/font-awesome.scss";

// Variables
@import "variables";

// Abstract Class
@import "abstract";

// Mixin
@import "mixin";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'header';
//@import 'footer';
@import 'copyright';

body {
	background-color: #fff;
	height: 100%;
    font-family: 'Noto Sans TC', 'Lato', sans-serif;

    textarea {
    	resize: none;
    }
}

.page-title {
	@extend %page-title;
}

.second-title {
	@extend %page-title;
}

@media screen and (max-width: 768px) {
	%page-title {
		text-align: center;
		margin-bottom: 15px;
		font-size: 1.65rem;
	}
}
