@import 'app';

.authenticate-container-wrapper {
	@extend %container-wrapper;
	.authenticate-container {
		@extend %container;
		.authenticate-box {
			@extend %box-frame;
			@extend %box-shadow;
			@include form-style(400px, $min-height, 7%);
			.form-group {
				text-align: center;

				.authenticate-message {
					margin-top: 16%;
					color: #919191;
				}

				.btn-failure-redirect {
					margin-top: 7%;
					color: #fcfcfc;
					width: 65%;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.authenticate-container-wrapper {
		.authenticate-container {
			.authenticate-box {
				min-height: 200px;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.authenticate-container-wrapper {
		.authenticate-container {
			.authenticate-box {
			}
		}
	}
}
	

