.copyright {
    text-align: center;
    width: 100%;
    padding: 12px;
    p {
        width: 100%;
        color: #adadad;
    }
}

@media screen and (max-width: 500px) {
	.copyright p {font-size: 0.8rem;}
}
