@import 'app';

.failure-container-wrapper {
	@extend %container-wrapper;
	.failure-container {
		@extend %container;
		.failure-box {
			@extend %box-frame;
			@extend %box-shadow;
			@include form-style(400px, $min-height, 7%);
			.form-group {
				text-align: center;

				.failure-message {
					margin-top: 16%;
					color: #919191;
				}

				.btn-failure-redirect {
					margin-top: 7%;
					color: #fcfcfc;
					width: 65%;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.failure-container-wrapper {
		.failure-container {
			.failure-box {
				min-height: 200px;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.failure-container-wrapper {
		.failure-container {
			.failure-box {
			}
		}
	}
}
	

