.page-header {
	background-color: $header-color;
	width: 100%;
	height: $header-height;

	.header-container {
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		padding: 12px;

		.header-item {
			background-size: contain;
			background-repeat: no-repeat;
			background-color: #fff;
			float: right; 
			width: 42px;
			height: 42px;
			border-radius: 21px;
			color: $header-icon-color;
			border-width: 1px;
			border-style: solid;
			border-color: $header-icon-color;
			margin-left: 1rem;

			.header-item-cover {
				opacity: 1;
				background-color: #fff;
				width: 40px;
				height: 40px;
				border-radius: 20px;
				z-index: 10000;
				position: absolute;
			}

			a {
				color: $header-icon-color;
			}

			a:hover {
				color: $header-icon-hover-color;
			}
		}

		.header-item:hover {
			border-color: $header-icon-hover-color;
			border-width: 1.5px;
		}

		.header-item-home {
			background-size: 24px;
			background-position: center;
		}

		.select-menu {
			display: none;

			li {
				color: #4f4f4f;
				padding: 4px;

				.user-name {
					width: 100%;
					color: #600000;
					font-weight: bold;
					padding: 2px;
					border-bottom: solid 1px dotted #bebebe;
				}

				a {
					width: 100%;
					color: #4f4f4f;
				}
			}
		}
	}
}