@import 'app';

.login-container-wrapper {
	@extend %container-wrapper;
	.login-container {
		@extend %container;
		.login-form {
			@extend %box-frame;
			@extend %box-shadow;
			@include form-style(400px, $min-height, 7%);

			.form-group {
				margin-bottom: 0.7rem;
				.btn-facebook-login, .btn-google-login, .btn-twitter-login {
					text-align: left;
					padding-left: 20px;
					padding-top: 10px;
					padding-bottom: 10px;
					margin-bottom: 4px;
					width: 100%;
					border-color: $border-color;
				}

				.input-email-login {
					height: 2.55rem;
				}

				.login-icon {
					width: auto;
					height: 1.5rem;
					margin-right: 10px;
				}

				.login-message {
					display: block;
					margin-top: 6px;
					font-size: 1rem;
					height: 1rem;
					width: 100%;
					text-align: center;
					font-weight: normal;
					color: #ff5151;
					opacity: 0;
				}
			}
		}
	}
}

#loadingModal {
	position: absolute;
	top: 28%;
	.modal-body {
		padding: 6%;
                .close-modal {
                    display: none;
                }

		.loader {
			@extend %loader;
			margin-left: auto;
			margin-right: auto;
		}
    }
}

@media screen and (max-width: 768px) {
	.login-container-wrapper {
		.login-container {
			.login-form {
				min-height: 200px;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.login-container-wrapper {
		.login-container {
			.login-form {
				.btn-facebook-login, .btn-google-login, .btn-twitter-login {
					margin-bottom: 10px;
				}
			}
		}
	}
}
	

