@import 'app';

.login-container-wrapper {
	@extend %container-wrapper;
	.login-container {
		@extend %container;
		.login-password-form {
			@extend %box-frame;
			@extend %box-shadow;
			@include form-style(400px, 200, 4%);

			.input-email-login {
				height: 2.55rem;
			}

			.btn-password-login {
				width: 100%;
			}

			.response-message {
				opacity: 0;
				text-align: center;
				padding: 0.6rem;
				background-color: #ecf5ff;
				border: solid 1px #97cbff;

				h6 {
					margin-bottom: 0;
					color: #003C9D;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.login-container-wrapper {
		.login-container {
			.login-password-form {
				min-height: 200px;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.login-container-wrapper {
		.login-container {
			.login-password-form {
				.btn-facebook-login, .btn-google-login {
					margin-bottom: 10px;
				}
			}
		}
	}
}
	

