.email-dialog {
	display: block;
	width: 420px; 
	min-height: 220px;
	border-radius: 5px;
	background-color: #fcfcfc;
	padding: 2.2%;

	.email-dialog-header {
		width: 100%;
		padding: 0;
		display: block;

		.email-dialog-close {
			cursor: pointer;
			display: block;
			position: relative;
			top: 0;
			left: 95%;
		}
	}

	.email-edit-form {
		display: block;
		label {
			font-weight: bold;
			font-size: 1.1rem;
		}

		.btn-email-send {
			width: 100%;
		}

		input {
			background-color: #fff;
		}

		.email-message {
			opacity: 0;
			text-align: center;
			padding: 0.6rem;
			background-color: #ecf5ff;
			border: solid 1px #97cbff;
			
			.response-message {
				width: 100%;
				margin-bottom: 0;
				color: #003C9D;
			}
		}
	}
}

.confirm-dialog {
	display: block;
	background-color: red;
	width: 450px; 
	min-height: 200px;
	border-radius: 5px;
	background-color: #fcfcfc;
	padding: 1%;

	.confirm-dialog-header {
		width: 100%;
		padding: 0.5rem;
		display: block;

		.confirm-dialog-close {
			cursor: pointer;
			display: block;
			position: relative;
			top: 0;
			left: 95%;
		}
	}

	.confirm-dialog-content {
		width: 100%;
		min-height: 80px;
		padding: 0 1rem;
		display: block;

		.confirm-dialog-content-text {
			text-align: center;
		}
	}

	.confirm-dialog-footer {
		width: 100%;
		padding: 0 1rem;
		display: block;

		.confirm-dialog-affirmative {
			width: 47%;
			float: left;
		}

		.confirm-dialog-negative {
			width: 47%;
			float: right;
		}
	}
}

.message-dialog {
	display: block;
	background-color: red;
	width: 300px; 
	min-height: 100px;
	border-radius: 5px;
	background-color: #fcfcfc;
	padding: 1%;

	.message-dialog-header {
		width: 100%;
		padding: 0.3rem;

		.message-dialog-close {
			cursor: pointer;
			display: block;
			position: relative;
			top: 0;
			left: 95%;
		}
	}

	.message-dialog-content {
		width: 100%;
		padding: 1rem;
		.message-dialog-content-text {
			text-align: center;
		}
	}
}

@media screen and (max-width: 768px) {
	.email-dialog {
		padding: 1rem;
		max-width: 85%;
		min-height: 25%;
		.category-dialog-header {
			padding: 0;
		}
	}

	.confirm-dialog {
		padding: 1rem;
		max-width: 85%;
		min-height: 25%;
		.confirm-dialog-header {
			padding: 0;
		}
	}

	.message-dialog {
		padding: 1rem;
		max-width: 85%;
		min-height: 25%;
		.message-dialog-header {
			padding: 0;
		}
	}
}