@mixin form-style($width, $min-height, $padding) {
	width: $width;
	min-height: $min-height;
	padding: $padding;
	margin-left: auto;
	margin-right: auto;
	input {
		color: #787878;
	}
}

@mixin textarea-style($width, $min-height, $padding) {
	cursor: text;
        width: $width;
	min-height: $min-height;
	padding: $padding;
	margin-left: auto;
	margin-right: auto;
}