@import 'app';

.privacy-container-wrapper {
	@extend %container-wrapper;
	.privacy-container {
		@extend %container;
		margin-top: 10px;
		padding-left: 5%;
		padding-right: 5%;

		.privacy-form {
			@extend %box-frame;
			@extend %box-shadow;
			@include form-style(80%, 400px, 5%);

			margin-top: 0.5rem;
		}
	}
}

@media screen and (max-width: 768px) {
	.privacy-container-wrapper {
		.privacy-container {
	
			.privacy-form {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.privacy-container-wrapper {
		.privacy-container {
			.privacy-form {
				
			}
		}
	}
}
	

