@import 'app';
@import 'manage';

.manage-container-wrapper {
	@extend %container-wrapper;
	.manage-container {
		@extend %container;
		margin-top: 35px;

		.project-manage-form {
			@extend %box-frame;
			@extend %box-shadow;
			@include form-style(530px, $min-height, 5%);

			padding-top:30px;
			.form-group {
				margin-bottom: 0.8rem;
			}

			.member-list-title {
				display: inline-block;
				width: 78%;
				border-radius: 4px;
				border: 1px solid #adadad;
				text-align: center;
				padding: 2.18%;
				margin-bottom: 0;
			}

			.btn-add-member {
				display: inline-block;
				width: 20%;
				float: right;
				.btn-add-member-icon {
					margin-right: 3px;
				}
			}

			.member-list-wrapper {
				ul.member-list {
					list-style-type: none;
					padding-left: 0;
					margin-top: 8px;
					li.member-info {
						padding: 3% 2% 1.2% 2%;
						border-bottom: 1px solid #adadad;
						.member-name, .member-role {
							color: #787878;
							display: inline-block;
							margin-bottom: 0;

							.member-delete {
								margin-top: 1%;
								float: right;
								text-align: right;
								cursor: pointer;
							}
						}

						.member-name {
							width: 72%;
						} 

						.member-role {
							width: 26%;
						}
					}
				}
			}

			.manage-message {
				margin-top: 6px;
				font-size: 1rem;
				font-weight: normal;
				color: #ff5151;
			}

			.response-message {
				opacity: 0;
				text-align: center;
				padding: 0.6rem;
				background-color: #ecf5ff;
				border: solid 1px #97cbff;

				h6 {
					margin-bottom: 0;
					color: #003C9D;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.manage-container-wrapper {
		.manage-container {
			.project-manage-form {
				min-height: 200px;
				width: 100%;

				.member-list-wrapper {
					ul.member-list {
						li.member-info {
							padding-left: 4%;
							padding-right: 4%;
							.member-role {
								width: 40%;
							}
							.member-name {
								width: 58%;
								.member-email {
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.manage-container-wrapper {
		.manage-container {
			.project-manage-form {
				
			}
		}
	}
}