@import 'app';

.top-message-wrapper {
	background-color: #ffffb9;
	border: solid 1px #eac100;
	border-radius: 3px;
	position: absolute;
	top: -100px;
	left: 50%;
	padding: 10px 20px;
	.top-message-container {
		display: block;
		.message-content {
			width: 100%;
			margin-bottom: 0;
			text-align: center;
			color: #eac100;
		}
	}
}

.item-container-wrapper {
	@extend %container-wrapper;
	.item-container {
		@extend %container;
		margin-top: 10px;
		padding-left: 5%;
		padding-right: 5%;

		.project-bar {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 15px;
			
			.btn-add-new-project {
				display: inline-block;
				margin-right: 8px;
				margin-bottom: 6px;
				float: left;
				.project-item-icon, .project-item-title {
					color: #fff;
				}

				.project-item-icon {
					margin-right: 0.4rem;
				}
			}
			
			.project-item, .no-project {
				display: inline-block;
				margin-right: 8px;
				margin-bottom: 6px;
				float: left;
				.project-item-icon, .project-item-title {
					color: #000;
				}

				.project-item-icon {
					margin-right: 0.4rem;
				}
			}

			.project-item-selected {
				.project-item-icon, .project-item-title {
					color: #fff;
				}

				.project-item-icon {
					margin-right: 0.4rem;
				}
			}

			.btn-light {
				border-color: #ccc;
			}
		}

		.item-form {
			@extend %box-frame;
			@extend %box-shadow;
			@include form-style(80%, 400px, 5%);

			margin-top: 0.5rem;
			ul.list-tab {
				display: none;
				margin-bottom: 0.4rem;
				li {
					a {
						white-space: nowrap;
						text-decoration: none;
						display: inline-block;
					}
				}

				.add-new-item {
					display: block;
					margin-top: 0;
					margin-bottom: 0.6rem;
					width: 2rem;
					height: 2rem;
				}
			}

			.mobile-add-new-item {
				display: none;
			}

			.list-item-content {
				display: none;
				margin-top: 0;
				padding: 8px 1.3% 20px 1.3%;
				.list-message {
					display: none;
					margin-top: 10%;
					color: #fff;
					width: 100%;
					text-shadow: -1px 0 #9C9C9C, 0 1px #9C9C9C, 1px 0 #9C9C9C, 0 -1px #9C9C9C;
					text-align: center;
				}

				.list-item-count {
					display: none;
					border-radius: 10px;
					background-color: #ad5a5a;
					color: #fff;
					padding: 2px 0.5rem;
					font-size: 1rem;
				}

				.list-item-wrapper {
					list-type-style: none;
					padding: 0;
					.list-single-item {
						display: -webkit-flex;
						display: flex;
						-webkit-align-items: center;
						align-items: center;
						width: 100%;
						border-radius: 5px;
						background-color: #66b3ff;
						padding: 11px;
						margin-top: 16px;
						box-shadow:1.5px 1.5px 1.5px #7b7b7b;
						.list-item-title {
							width: 100%;
							color: #fff;
							font-wight: bold;
							margin-bottom: 0;
							display: inline-block;
						}
					}

					.list-item-fiinish {
						background-color: #C9C9C9;
					}

					.list-item-edit {
						display: none;
						position: absolute;
						cursor: pointer;
						z-index: 10000;
						.list-item-edit-icon {
							font-size: 1.5rem;
							color: #fff;
						}
					}

					.list-item-delete {
						display: none;
						position: absolute;
						cursor: pointer;
						z-index: 10000;
						.list-item-delete-icon {
							font-size: 1.35rem;
							color: #fff;
						}
					}
				}
			}
		}
	}
}

.item-edit-tool {
	width: 100px;
	height: 200px;
	position: fixed;
	left: 80%;
	top: 100%;
	font-size: 5rem;
}

.project-dialog {
	display: block;
	width: 420px; 
	min-height: 220px;
	border-radius: 5px;
	background-color: #fcfcfc;
	padding: 2.2%;

	.project-dialog-header {
		width: 100%;
		padding: 0;
		display: block;

		.project-dialog-close {
			cursor: pointer;
			display: block;
			position: relative;
			top: 0;
			left: 95%;
		}
	}

	.project-edit-form {
		display: block;
		label {
			font-weight: bold;
			font-size: 1.1rem;
		}

		.btn-project-update {
			width: 100%;
			.fa {
				margin-left: 0.4rem;
			}
		}

		.btn-project-manage {
			width: 100%;
			.btn-project-manage-icon {
				margin-right: 0.4rem;
			}
		}

		.btn-project-delete {
			width: 100%;
			.btn-project-delete-icon {
				margin-right: 0.4rem;
			}
		}

		input {
			background-color: #fff;
		}

		.project-message {
			opacity: 0;
			text-align: center;
			padding: 0.6rem;
			background-color: #ecf5ff;
			border: solid 1px #97cbff;
			
			.response-message {
				width: 100%;
				margin-bottom: 0;
				color: #003C9D;
			}
		}
	}
}

.item-dialog {
	display: block;
	width: 500px; 
	min-height: 250px;
	border-radius: 5px;
	background-color: #fcfcfc;
	padding: 1.4%;

	.item-dialog-header {
		width: 100%;
		padding: 0;
		display: block;

		.item-dialog-close {
			cursor: pointer;
			display: block;
			position: relative;
			top: 0;
			left: 95%;
		}
	}

	.item-edit-form {
		display: block;
		label {
			font-weight: bold;
			font-size: 1.1rem;
		}

		.btn-item-update, .btn-item-complete, .btn-item-process {
			width: 100%;
			.fa {
				margin-left: 0.4rem;
			}
		}

		input {
			background-color: #fff;
		}

		.item-message {
			opacity: 0;
			text-align: center;
			padding: 0.6rem;
			background-color: #ecf5ff;
			border: solid 1px #97cbff;
			
			.response-message {
				width: 100%;
				margin-bottom: 0;
				color: #003C9D;
			}
		}
	}
}

.confirm-dialog {
	display: block;
	background-color: red;
	width: 450px; 
	min-height: 200px;
	border-radius: 5px;
	background-color: #fcfcfc;
	padding: 1%;

	.confirm-dialog-header {
		width: 100%;
		padding: 0.5rem;
		display: block;

		.confirm-dialog-close {
			cursor: pointer;
			display: block;
			position: relative;
			top: 0;
			left: 95%;
		}
	}

	.confirm-dialog-content {
		width: 100%;
		min-height: 80px;
		padding: 0 1rem;
		display: block;

		.confirm-dialog-content-text {
			text-align: center;
		}
	}

	.confirm-dialog-footer {
		width: 100%;
		padding: 0 1rem;
		display: block;

		.confirm-dialog-affirmative {
			width: 47%;
			float: left;
		}

		.confirm-dialog-negative {
			width: 47%;
			float: right;
		}
	}
}

.message-dialog {
	display: block;
	background-color: red;
	width: 300px; 
	min-height: 100px;
	border-radius: 5px;
	background-color: #fcfcfc;
	padding: 1%;

	.message-dialog-header {
		width: 100%;
		padding: 0.3rem;

		.message-dialog-close {
			cursor: pointer;
			display: block;
			position: relative;
			top: 0;
			left: 95%;
		}
	}

	.message-dialog-content {
		width: 100%;
		padding: 1rem;
		.message-dialog-content-text {
			text-align: center;
		}
	}
}

@media screen and (max-width: 768px) {
	.item-container-wrapper {
		.item-container {
			.project-bar {
				width: 100%;
			}
	
			.item-form {
				width: 100%;

				ul.list-tab {
					li {
						a {
							font-size: 1rem;
						}
					}

					.add-new-item {
						display: none;
					}
				}

				.mobile-add-new-item {
					display: block;
					width: 100%;
					margin-top: 10px;
				}
			}
		}
	}

	.project-dialog {
		padding: 1rem;
		max-width: 85%;
		min-height: 25%;
		.project-dialog-header {
			padding: 0;
		}
	}

	.item-dialog {
		padding: 1rem;
		max-width: 85%;
		min-height: 25%;
		.item-dialog-header {
			padding: 0;
		}
	}

	.confirm-dialog {
		padding: 1rem;
		max-width: 85%;
		min-height: 25%;
		.confirm-dialog-header {
			padding: 0;
		}
	}

	.message-dialog {
		padding: 1rem;
		max-width: 85%;
		min-height: 25%;
		.message-dialog-header {
			padding: 0;
		}
	}
}

@media screen and (max-width: 600px) {
	.item-container-wrapper {
		.item-container {
			.item-form {
				
			}
		}
	}
}
	

