@import 'app';

.user-container-wrapper {
	@extend %container-wrapper;
	.user-container {
		@extend %container;
		margin-top: 35px;

		.user-setting-form {
			@extend %box-frame;
			@extend %box-shadow;
			@include form-style(500px, $min-height, 8%);

			padding-top:30px;

			.field-title {
				width: 100%;
				font-size: 1.3rem;
			}

			.avatar-wrapper {
				padding: 8%;
				text-align: center;

				.user-avatar {
					height: $avatar-height;
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					
					.user-avatar-instruction {
						opacity: 1;
						height: $avatar-height;
						background-color: #fff;

						h5 {
							color: #000;
							text-align: center;
							line-height: $avatar-height;
							font-weight: bold;
						}
					}

					.no-avatar {
						color: #6c6c6c;
						text-align: center;
						line-height: $avatar-height;
						font-weight: bold;
					}
				}
                           
                .btn-download-avatar {
		    		width: 60%;
                    margin-top: 20px;
                }
          
                .btn-upload-avatar {
                	display: none;
 				    width: 100%;
                    margin-top: 10px;
                }
			}

			.user-email, input {
				color: #787878;
			}

			.btn-save-user {
				width: 100%;
			}

			.user-icon {
				width: 25px;
				height: 25px;
				margin-right: 10px;
			}

			.user-message {
				margin-top: 6px;
				font-size: 1rem;
				font-weight: normal;
				color: #ff5151;
			}

			.response-message {
				opacity: 0;
				text-align: center;
				padding: 0.6rem;
				background-color: #ecf5ff;
				border: solid 1px #97cbff;

				h6 {
					margin-bottom: 0;
					color: #003C9D;
				}
			}
		}

		input[name=avatar] {
			display: none;
		}
	}
}

@media screen and (max-width: 768px) {
	.user-container-wrapper {
		.user-container {
			.user-setting-form {
				min-height: 200px;
				width: 100%;

				.avatar-wrapper {
					.user-avatar {
						.user-avatar-instruction {
							h4 {
								font-size: 1.1rem;
							}
						}
		            }
		            .btn-upload-avatar, .btn-download-avatar {
	                	display: block;
	                	width: 100%;
	                }
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.user-container-wrapper {
		.user-container {
			.user-setting-form {
				
			}
		}
	}
}


