@import 'app';

.user-container-wrapper {
	@extend %container-wrapper;
	.user-container {
		@extend %container;
		margin-top: 35px;

		.user-password-form {
			@extend %box-frame;
			@extend %box-shadow;
			@include form-style(500px, $min-height, 8%);

			padding-top:30px;

			.field-title {
				width: 100%;
				font-size: 1.3rem;
			}

			.user-password, .new-password, .confirm-password, input {
				color: #787878;
			}

			.btn-save-user, .btn-cancel-user {
				width: 48%;
				display:inline-block;
			}

			.btn-ignore-user {
				margin-left: 2.5%;
			}

			.user-icon {
				width: 25px;
				height: 25px;
				margin-right: 10px;
			}

			.user-message {
				margin-top: 6px;
				font-size: 1rem;
				font-weight: normal;
				color: #ff5151;
			}

			.response-message {
				opacity: 0;
				text-align: center;
				padding: 0.6rem;
				background-color: #ecf5ff;
				border: solid 1px #97cbff;

				h6 {
					margin-bottom: 0;
					color: #003C9D;
				}
			}
		}

		input[name=avatar] {
			display: none;
		}
	}
}

@media screen and (max-width: 768px) {
	.user-container-wrapper {
		.user-container {
			.user-password-form {
				min-height: 200px;
				width: 100%;

				.btn-save-user, .btn-ignore-user {
					width: 100%;
					display:block;
					margin-left: 0;
					margin-top: 2.2%;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.user-container-wrapper {
		.user-container {
			.user-password-form {
				.btn-save-user, .btn-ignore-user {
					width: 100%;
					display:block;
					margin-left: 0;
					margin-top: 2%;
				}
			}
		}
	}
}


